*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

input[type=submit], button {
    appearance: none;
    border:none;
}


fieldset {
    height:100vh;
    width:50vw;
    margin: 0 25vw;
    position: relative;
    padding: 10px;
}

fieldset form {
    width:80%;
    position:absolute;
    bottom: 0;
    left:10%;
    padding:10px;
    background: gray;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

fieldset form textarea {
    width:80%;
}

form input[type=submit] {
    background: blue;
    padding: 10px 20px;
    color: white;
}

.new-msg {
    padding: 10px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 20px;
    padding-right: 120px;
}

.btn-container {
    position: absolute;
    right: 0;
    top: 0;
    height:100%;
}

.btn-edit, .btn-delete {
    height:100%;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.btn-edit {
    background: orange;
}

.btn-delete {
    background: red;
}